.default {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  max-width: 100%;
  color: #fff;
  border-radius: 70px;
  cursor: pointer;
  text-align: left;
  background-color: transparent;
  border: none;
  display: flex;
  background-color: #2d3e4e;
  height: 70px;
  width: 310px;
  align-items: center;
  padding: 11px 19px 11px 27px;

  &:disabled {
    background-color: #aaaaaa;
    cursor: not-allowed;
    pointer-events: none;
  }

  p {
    color: #ffffff;
    font-family: Open Sans;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 24px;
    margin: 0;
    text-align: center;
    border-radius: 70px;
    // width: 310px;
  }
}

.icon {
  background-color: transparent;
  border: none;
  display: flex;
  background-color: #2d3e4e;
  border-radius: 70px;
  height: 70px;
  width: 310px;
  align-items: center;
  background-color: #2d3e4e;
  margin-top: 50px;
  padding: 11px 19px 11px 27px;
  text-overflow: ellipsis;

  p {
    color: #ffffff;
    font-family: Open Sans;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 24px;
    margin: 0;
    text-align: left;
    // width: 310px;
  }

  &:disabled {
    background-color: #aaaaaa;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.iconMagnifyingGlass {
  margin-right: 16px;
}

.noicon {
  p {
    width: 100%;
    text-align: center;
  }
}
