.button {
  padding: 10px 20px;
  background-color: #2d3e4e;
  color: #fff;
  width: 310px;
  display: flex;
  border-radius: 70px;
  cursor: pointer;
  align-items: center;
  // transition: background-color 0.3s ease;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
  font-family: "Open Sans", sans-serif;

  &.disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  &:hover:not(.disabled) {
    background-color: #2d3e4e;
  }
}
