.default {
  background-color: white;
  // width: clamp(80px, 18vw, 364px);
  // height: clamp(60px, 16vw, 322px);
  // width: 80px;
  // height: 60px;
  width: 364px;
  height: 322px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #07c06a;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    button {
      border-color: white;
      background-color: #07c06a;
      border: 2px solid #ffffff;
      transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

      &:disabled {
        background-color: #aaaaaa;
        cursor: not-allowed;
        pointer-events: none;
        transition: background-color 0.3s ease-in-out;

        p {
          background-color: #aaaaaa;
          transition: background-color 0.3s ease-in-out;
        }
      }
    }

    p {
      background-color: #07c06a;
      transition: background-color 0.3s ease-in-out;
    }
  }

  &:first-child {
    height: auto;
  }
}

.border {
  background-color: white;
  // width: 349.524px;
  width: auto;
  height: auto;
  // max-width: 364px;
  // max-height: 322px;
  // width: clamp(65px, 14vw, 364px);
  // height: clamp(55px, 13vw, 322px);
  display: flex;
  align-items: start;
  border: 15px solid transparent;
  justify-content: center;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

  &:hover {
    border-color: #07c06a;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;

    button {
      background-color: #07c06a;
      transition: background-color 0.3s ease-in-out;

      &:disabled {
        background-color: #aaaaaa;
        cursor: not-allowed;
        pointer-events: none;
        transition: background-color 0.3s ease-in-out;

        p {
          background-color: #aaaaaa;
          transition: background-color 0.3s ease-in-out;
        }
      }
    }

    p {
      background-color: #07c06a;
      border-radius: 70px;
      transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    }
  }
}
